// styles.scss
@use 'base';

.customButton {
 color: rgba(255,255,255,1);
}
#overlays {
 position: relative;
 width: 100%;
 top: 20%;
}
.mainContainer {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./assets/images/bg.svg);
  background-size: cover;
  z-index: 0;
}

#devInfo {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
