{
  "version" : "2017-02-28",
  "operation" : "GetItem",
  "key"" {
    "userId": $util.dynamodb.toDynamoDBJson($util.autoId())
  },
  "attributeValues": {
    "username": $util.dynamodb.toDynamoDBJson($ctx.args.username)
  }
}