{
  "version" : "2017-02-28",
  "operation" : "PutItem",
  "key" : {
    "userId": $util.dynamodb.toDynamoDBJson($ctx.args.userId)
  },
  "attributeValues": {
    "gameData": $util.dynamodb.toDynamoDBJson($ctx.args.gameData)
  }
}